Q1 Explain the key features of Python that make it a popular choice for programming.

Answer:Readable and simple syntax, ideal for beginners and experienced developers. Versatile: Used in web development, data science, AI, automation, and more. Extensive standard library and large ecosystem of third-party packages. Strong community support and excellent integration with other technologies.

Q2 Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

Answer: In Python, predefined keywords are special identifiers that have a predefined meaning in the language's syntax. These keywords cannot be used as variable names, function names, or identifiers because they are reserved for specific language constructs.Below are the examples of predefined keywords.

Conditional statements
For and While loop
etc.

1. if, else, elif (Conditional Statements)

In [1]:
x = 10
if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

Positive

2. for, in (Looping)

In [ ]:
for i in range(5):
    print(i)

3. Print function

In [2]:
print("Hello world")

Hello world

Q3. Compare and contrast mutable and immutable objects in Python with examples

Answer : Mutable Objects:
Definition: Objects whose state or value can be modified after they are created.

Examples: Lists, dictionaries, sets.

In [3]:
my_list = [1, 2, 3]
my_list[0] = 10  # Modifies the original list
print(my_list)   # Output: [10, 2, 3]

[10, 2, 3]

In [5]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [9]:
my_dict = {
    "name": "Abcd",
    "age": 45
}
my_dict["city"] = "New york"
print(my_dict) # it will add city in my_dict

{'name': 'Abcd', 'age': 45, 'city': 'New york'}

Immutable Objects:
Definition: Objects whose state or value cannot be changed after they are created.

Examples: tuples

In [11]:
my_tuple = (1, 2, 3, "hello", 5.5)
print(my_tuple)

(1, 2, 3, 'hello', 5.5)

Q4. Discuss the different types of operators in Python and provide examples of how they are used

Answer:Arithmetic Operators: Perform basic math (e.g., +, -, *, /).
Comparison Operators: Compare values (e.g., ==, >, <).
Logical Operators: Combine conditions (e.g., and, or, not).
Assignment Operators: Assign values to variables (e.g., =, +=).
Identity Operators: Check if two objects are the same (e.g., is, is not).
Membership Operators: Check membership in a sequence (e.g., in, not in).
Bitwise Operators: Perform bit-level operations (e.g., &, |, ~

1 Arithmatic Operator

In [12]:
a = 1
b = 2
c = a+b
print(c)

3

2 Comparision Operator

In [13]:
a = 3
b = 2
a > b

True

3 Logical Operator

In [14]:
x = 10
y = 5

# Using 'and' logical operator
if x > 0 and y > 0:
    print("Both x and y are positive")

Both x and y are positive

4 Assignment Operators

In [16]:
a = 2
b = 3
a += b
a

5

5 Identity Operator

In [18]:
a = 2
b = 3
a is b # Using "is" idenidentity operator

False

6 Membership Operator

In [21]:
# List of numbers
my_list = [1, 2, 3, 4, 5]

# Using 'in' to check if a value is in the list
if 3 in my_list:
    print("3 is in the list")

# Using 'not in' to check if a value is NOT in the list
if 6 not in my_list:
    print("6 is not in the list")

3 is in the list
6 is not in the list

Bitwise Operators

In [23]:
a = 10  # In binary: 1010
b = 4   # In binary: 0100

# Bitwise AND (&)
print(a & b)  # Output: 0 (1010 & 0100 = 0000)

# Bitwise OR (|)
print(a | b)  # Output: 14 (1010 | 0100 = 1110)

# Bitwise XOR (^)
print(a ^ b)  # Output: 14 (1010 ^ 0100 = 1110)

# Bitwise NOT (~)
print(~a)     # Output: -11 (bitwise NOT flips the bits, so ~1010 = ...11110101 which equals -11)

# Left Shift (<<)
print(a << 1)  # Output: 20 (1010 << 1 = 10100)

# Right Shift (>>)
print(a >> 1)  # Output: 5  (1010 >> 1 = 0101)

0
14
14
-11
20
5

Q5  Explain the concept of type casting in Python with examples

Answer:Implicit type casting is automatic and happens when Python promotes data types (e.g., from int to float).
Explicit type casting requires manual conversion and can be done using Python's built-in functions (int(), float(), str(), etc.).

1 Implicit type casting

In [26]:
x = 5       # Integer
y = 2.5     # Float

# Implicit type casting (int to float)
result = x + y
print(result)  # Output: 7.5 (float)
print(type(result))  # Output: <class 'float'>

7.5
<class 'float'>

Explicit type casting

In [25]:
# Converting a float to an integer
x = 5.7
y = int(x)  # Explicit type casting from float to int
print(y)    # Output: 5
(type(y))

5

int

Q6 How do conditional statements work in Python? Illustrate with examples

Answer: if: Tests a condition, and if True, executes the associated block of code.
if-else: Tests a condition and executes one of two blocks of code based on whether the condition is True or False.
if-elif-else: Tests multiple conditions and executes the first block where the condition is True, or defaults to the else block if no conditions are True.

1 if statement ex:

In [27]:
x = 10

if x > 5:
    print("x is greater than 5")

x is greater than 5

2 if-else statement ex:

In [28]:
x = 3

if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

3 if-elif-else statement ex:

In [29]:
x = 7

if x > 10:
    print("x is greater than 10")
elif x == 7:
    print("x is equal to 7")
else:
    print("x is less than 7")

x is equal to 7

Q7  Describe the different types of loops in Python and their use cases with examples

Answer:for loop: Best used when you know beforehand how many times you want to loop, or when iterating through a sequence or iterable.
while loop: Best used when you donâ€™t know the number of iterations in advance and want to loop until a condition is met.

1 For loop ex:

In [30]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

2 While loop ex:

In [31]:
x = 1

while x <= 5:
    print(x)
    x += 1  # Increment x to avoid infinite loop

1
2
3
4
5